.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 29px 40px 0;
  width: 100%;
}

.flag {
  background-image: url('../../assets/img/flags.png');
  width: 127px;
  height: 53px;
}
